.screen_body {
  padding: 10px;
  height: 100%;
  position: relative;
}

.header_outer {
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
}

.header_outer > .header {
  width: 100%;
  display: flex;
}

.footer {
  height: 70px;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  background-color: rgb(231, 231, 231);
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
}

.item_info {
  font: bold 30px "Tahoma";
  padding: 0 40px;
}

.point_info {
  font: bold 30px "Tahoma";
  margin-left: auto;
  margin-right: 100px;
}

.left {
  width: 60%;
  padding-left: 10px;
}

.right {
  width: auto;
  padding: 0px 10px;
  vertical-align: middle;
}

.screen_body > .item_container_outer {
  display: block;
  padding: 70px 0 70px 0;
  overflow: hidden;
  height: 100%;
}

.item_container_scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*http://jsfiddle.net/5V288/7/*/

.item_container {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
}
